<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História do POO</title>
    <link rel="stylesheet" href="historia.poo.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
</head>
<body>
    
    <div class="navbar">
        <!--<a href="/src/index.html">Apresentação</a>-->
        <a href="template/historia-dart/historia-dart.html">Historia do Dart</a>
        <a href="template/atributos-dart/atr-dart.html">Atributos do Dart</a>
        <a href="#">Atributos do Paradigma</a>
    </div>

     <!-- Slick Carousel Scripts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     <script src="historia-poo.js"></script>

    <header>
        <h1>História da Programação Orientada a Objetos (POO)</h1>
    </header>


    <div class="fundo">
        <main>
            <section class="content">
                <article>
                    <h2>O que é Lorem Ipsum?</h2>
                    <br>
                    <!--<img src="/src/image/AlanKay.jpg" alt="Imagem relacionada à POO">-->
                    <p class="introducao">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
                </article>
            </section>
            <aside class="references">
                <h3>Referências <br></h3>
                <div class="left">
                    <ul>
                        <li><a href="https://br.lipsum.com/#:~:text=Lorem%20Ipsum%20%C3%A9%20simplesmente%20uma%20simula%C3%A7%C3%A3o%20de%20texto%20da" target="_blank">Referência</a></li>
                        <li><a href="https://exemplo.com">Referência</a></li>
                    </ul>
                </div>
                <!--<div class="divider"></div>
                <div class="right">
                    <ul>
                        <li><a href="https://exemplo.com">Referência 3</a></li>
                        <li><a href="https://exemplo.com">Referência 4</a></li>
                    </ul>

                    <div class="divider"></div>
                    
                </div>-->
            </aside>
            
        </main>
    </div>
    
</body>
</html>
